.message {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: rgb(255, 0, 0);
}

.success {
  color: green;
}

.users-header {
  font-size: 25px;
  font-weight: bold;
}

.blogs-created-heading {
  font-size: 17px;
  font-weight: bold;
  margin-left: 145px;
  text-align: center;
  max-width: 100px;
}

.users-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 300px;
}

.menu-flexbox{
  display: flex;
  gap: 7px;
  align-items: center;
  border: 2px solid black;
}

.div-log{
  display: flex;
}

.div-log .child-log{
  display: flex;
  align-items: center;
  gap: 8px;
}  

.logout-button{
  width: 70px;
  height: 30px; 
}



